<div class="app-content content">
  <div class="content-wrapper">

    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-1">
        <h3 class="content-header-title">New Facility</h3>
      </div>
      <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
        <div class="breadcrumb-wrapper col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a>Home</a>
            </li>
            <li class="breadcrumb-item active">New Facility
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="content-body">
      <section class="row">
        <div class="col-sm-12">
          <div id="user-details" class="card">
            <div class="card-header">
              <h4 class="card-title">Facility</h4>
              <a class="heading-elements-toggle">
                <i class="fa fa-ellipsis-v font-medium-3"></i>
              </a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                  <li>
                    <a data-action="collapse">
                      <i class="ft-minus"></i>
                    </a>
                  </li>
                  <li>
                    <a data-action="reload">
                      <i class="ft-rotate-cw"></i>
                    </a>
                  </li>
                  <li>
                    <a data-action="close">
                      <i class="ft-x"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-content collapse show">
              <!-- User Details Section -->
              <div class="card-body">
                <div class="card-text">
                  <button class="btn-primary" mat-raised-button (click)="showHide()">Add New Facility</button>
                </div>
              </div>

              <!-- Facility Form Section -->
              <div class="card-body">
                <div class="card-text">
                  <!-- <div class="mat-container"> -->
                  <form class="form" [formGroup]="facilityForm" (ngSubmit)="onSubmit()">
                    <div class="form-body">
                      <h4 class="form-section"><i class="ft-user"></i> Facility Info</h4>
                      <div class="row mb-2">
                        <div class="col-md-4">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Facility" formControlName="facility">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <app-selectsearch [placeholder]="'Facility Type'" [dropdownOptions]="facilityTypeData"
                            formControlName="facilityType">
                          </app-selectsearch>
                        </div>
                        <div class="col-md-4">
                          <app-selectsearch [placeholder]="'Region'" [dropdownOptions]="regionData" formControlName="region"></app-selectsearch>
                        </div>
                      </div>

                      <div class="row mb-2">
                        <div class="col-md-4">
                          <app-multiselect [options]="threatLevels" [placeholder]="'Set Threat Level'" formControlName="threatLevel"></app-multiselect>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Consequence" formControlName="consequence">
                              <mat-option *ngFor="let consequence of consequences" [value]="consequence">
                                {{ consequence }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="row mb-2">
                        <div class="col-md-4">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Threat Level For Facility" formControlName="threatLevelfacility">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                        </div>
                      </div>

                      <div class="row mb-2 pt-2 border-top">
                        <div class="col-md-4">
                            <app-multiselectsearch [dropdownOptions]="siteContactsData" formControlName="siteContact" [placeholder]="'Site Contact(s)'">
                            </app-multiselectsearch>
                        </div>
                        <div class="col-md-4">
                            <app-selectsearch [placeholder]="'Site Supervisor'" [dropdownOptions]="siteSupervisors" formControlName="siteSupervisor"></app-selectsearch>
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                      </div>

                      <div class="row mb-2">
                        <div class="col-md-4">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Address" formControlName="address">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                      </div>


                      <div class="row">
                        <div class="col-md-12">
                          <button class="float-right btn-danger" type="button" mat-raised-button>Cancel</button>
                          <button class="float-right mr-1 " type="button" mat-raised-button disabled>Delete</button>
                          <button class="float-right mr-1 btn-primary" type="submit" mat-raised-button>Save</button>
                        </div>

                        <p>Form value: {{ facilityForm.value | json }}</p>
                      </div>

                    </div>
                  </form>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>

  </div>
</div>