<div class="mat-container">
    <div class="example-header ml-2">
    <app-multiselect [options]="totalColumns" [formControl]="showHideColumn" (onCheck)="isCheck()" [placeholder]="'Show/Hide Columns'">
    </app-multiselect>
    
    
    <!-- <button mat-raised-button (click)="exportPdf()" class="float-right btn-color"><mat-icon>picture_as_pdf</mat-icon> PDF</button> <button mat-raised-button (click)="exportCsv()" class="float-right btn-color"><mat-icon>file_copy</mat-icon> Excel</button> -->
    <button mat-mini-fab [matMenuTriggerFor]="menu" class="float-right btn-primary">
    <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="exportPdf()">
    <mat-icon>picture_as_pdf</mat-icon><span>Export to PDF</span>
    </button>
    <button mat-menu-item (click)="exportCsv()">
    <mat-icon>file_copy</mat-icon><span>Export to Excel</span>
    </button>
    </mat-menu>
    </div>
    <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort #table>
    <ng-container *ngFor="let disCol of displayedColumns; let colIndex=index" matColumnDef="{{disCol}}">
    <mat-header-cell [ngClass]="'customWidthClass'" *matHeaderCellDef mat-sort-header style="font-weight:bolder !important;color:black" 
    [ngStyle]="{ 'visibility': disCol == 'option' ? 'hidden' : 'visible' }"> 
    {{disCol | uppercase}} 
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass'"> {{row[disCol] }}
    
    <button *ngIf="disCol=='option' " mat-icon-button (click)="showData(row)">
    <i class="ft-maximize-2" style="font-size: 25px;"></i>
    </button>
    
    <button *ngIf="disCol=='action' " mat-icon-button style="color: #33b5e5">
    <mat-icon>create</mat-icon>
    </button>
    <button *ngIf="disCol=='action' " mat-icon-button style="color: #33b5e5">
    <mat-icon>delete</mat-icon>
    </button>
    </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[ 10, 25, 100]"></mat-paginator>
    </div>
    </div>