
button:focus {
    outline: unset;
}
/*
.mat-button-round {
    border-radius: 20px ;
} */

.btn-color {
    background-color: #33b5e5!important;
    color: #fff!important;
    margin: 5px;
    /* z-index: -1; */
}


.dropdownClause {
    margin-right: 6px;
    float: left;
    border: 0;
    padding-right: 0;
    font-size: 14px;
}

.form-control:focus {
    box-shadow: unset;
}


.dropdown-menu {
    /* width: 685px; */
    
    min-width: 30rem;
    padding: 0.5rem 0.5rem;
    
}

.customWidthClass:first-child {
    flex: 0 0 45px;
}


// .mat-table {
//     overflow: auto;
//     display: grid;
// }

// .mat-header-cell, .mat-cell:not(:first-child) {
//     min-width: 150px;
// }
.gray { background-color: rgb(205, 209, 211) }

.dark { background-color: rgb(160, 157, 157) }
