<div class="app-content content">
  <div class="content-wrapper">

    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-1">
        <h3 class="content-header-title">Vulnerabilities</h3>
      </div>
      <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
        <div class="breadcrumb-wrapper col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a>Home</a>
            </li>

            <li class="breadcrumb-item active">Vulnerability
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="content-body">
      <section class="row">
        <div class="col-sm-12">
          <div id="user-details" class="card">
            <div class="card-header">
              <h4 class="card-title" *ngIf="newVulnerabilityForm && !editTitle">Add Vulnerability</h4>
              <h4 class="card-title" *ngIf="editTitle">Edit Vulnerability</h4>
              <a class="heading-elements-toggle">
                <i class="fa fa-ellipsis-v font-medium-3"></i>
              </a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                  <li>
                    <a data-action="collapse">
                      <i class="ft-minus"></i>
                    </a>
                  </li>
                  <li>
                    <a data-action="reload">
                      <i class="ft-rotate-cw"></i>
                    </a>
                  </li>
                  <li>
                    <a data-action="close">
                      <i class="ft-x"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-content collapse show">

              <div class="card-body" *ngIf="vulnerabilityGrid">
                <div class="card-text mb-2">
                  <!-- Filter -->
                  <span ngbDropdown>
                    <button class="btn mr-1 mb-1 btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>
                      <i class="ft-filter"></i> Filter
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                      <form [formGroup]="filterForm">
                        <div formArrayName="aliases">
                          <div *ngFor="let address of aliases.controls; let i=index">

                            <div [formGroupName]="i">

                              <div class="float-left mt-1">
                                <label class="dropdownClause pr-2" *ngIf="i == 0">Where</label>
                                <select *ngIf="i  ==  1" class="form-control dropdownClause" [formControl]="clauseDropdown"
                                  id="sel1">
                                  <option *ngFor="let option of options">{{option}} </option>
                                </select>
                                <label class="dropdownClause mt-2 mr-4 ml-3" *ngIf="i > 1"> {{clauseDropdown.value}}
                                </label>
                              </div>

                              <mat-form-field class="filterFormFields mr-1">
                                <mat-select formControlName="columnVal" placeholder="Columns" #columnInput>
                                  <mat-option *ngFor="let column of displayedColumns" [value]="column">
                                    {{ column }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>

                              <mat-form-field *ngIf="columnInput.value==null" class="filterFormFields mr-1">
                                <mat-select formControlName="numClauseVal" placeholder="Clauses">
                                </mat-select>
                              </mat-form-field>

                              <mat-form-field *ngIf=" columnInput.value=='id' || columnInput.value=='progress' " class="filterFormFields mr-1">
                                <mat-select formControlName="numClauseVal" placeholder="Clauses" [(value)]="searchCondition[columnInput.value]">
                                  <mat-option *ngFor="let clause of numberClauses" [value]="clause.value">
                                    {{clause.label}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>

                              <mat-form-field *ngIf=" columnInput.value=='vulnerability' || columnInput.value=='status' || columnInput.value=='description'"
                                class="filterFormFields mr-1">
                                <mat-select formControlName="strClauseVal" placeholder="Clauses" [(value)]="searchCondition[columnInput.value]">
                                  <mat-option *ngFor="let clause of stringClauses" [value]="clause.value">
                                    {{clause.label}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>

                              <mat-form-field class="filterFormFields mr-1">
                                <input matInput formControlName="filterVal" placeholder="Filter" autocomplete="off">
                              </mat-form-field>

                              <button mat-icon-button (click)="removeFilter(i)">
                                <mat-icon class="mat-icon-fs">clear</mat-icon>
                              </button>
                            </div>
                          </div>
                          <button mat-mini-fab class="btn-primary" (click)="addFilter()" matTooltip="Add Filter">
                            <mat-icon>add</mat-icon>
                          </button>
                          <button mat-raised-button class="btn-primary float-right" (click)="applyFilter(filterForm)">
                            Apply</button>
                        </div>
                      </form>
                    </div>
                  </span>
                  <!-- Filter End -->

                  <button class="btn mr-1 mb-1 btn-outline-primary" (click)="showHide()">Add Vulnerability </button>
                </div>
                <app-grid [tableData]="vulnerabilityData" (getRowdata)="emittedValue($event)" [action]="true"
                  [visibleColumns]="columnsList"></app-grid>
              </div>

              <!-- Vulnerabilities  Form Section -->
              <div class="card-body" *ngIf="newVulnerabilityForm">
                <div class="card-text">
                  <!-- <div class="mat-container"> -->
                  <form class="form" [formGroup]="vulnerabilityForm" (ngSubmit)="onSubmit()">
                    <div class="form-body">
                      <h4 class="form-section"><i class="ft-alert-octagon"></i> Vulnerabilities Info</h4>

                      <div class="row mb-2">
                        <div class="col-md-6">
                          <mat-form-field class="w-75">
                            <input matInput placeholder="Vulnerability" formControlName="vulnerability">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="w-75">
                            <mat-select placeholder="Status" formControlName="status">
                              <mat-option>Status</mat-option>
                              <mat-option value="active">Active</mat-option>
                              <mat-option value="inactive">Inactive</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="row mb-2">
                        <div class="col-md-11">
                          <mat-form-field class="w-100">
                            <textarea matInput placeholder="Description" formControlName="description"></textarea>
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <button class="float-right btn-danger" type="button" mat-raised-button (click)="showHide()">Cancel</button>
                          <button class="float-right mr-1 btn-primary" type="submit" mat-raised-button>Save</button>
                        </div>

                        <!-- <p>Form value: {{ VulnerabilityForm.value | json }}</p> -->
                      </div>
                    </div>
                  </form>
                  <!-- </div> -->
                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

      <div class="row" *ngIf="vulnerabilityGrid">
        <div class="col-12">
          <div id="accordionEvent" role="tablist" aria-multiselectable="true">
            <div class="card collapse-icon accordion-icon-rotate acc-border">
              <div id="vInfo" class="card-header">
                <h4 class="card-title">Events
                  <a data-toggle="collapse" data-parent="#accordionEvent" href="#eventAccordion" aria-expanded="false"
                    aria-controls="eventAccordion" class="card-title lead collapsed">
                    <i class="ft-chevron-down" style="font-size: 25px;"></i>
                  </a>
                </h4>

              </div>
              <div id="eventAccordion" role="tabpanel" aria-labelledby="vInfo" class="collapse" aria-expanded="false"
                style="height: 0px;">
                <div class="card-content">
                  <div class="card-body">
                    <div class="row mb-2">
                      <div class="col-md-12">
                        <app-grid [tableData]="eventData" [action]="false" [visibleColumns]="eventColumnsList"></app-grid>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>